<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Napoleon test</title>
    <link rel="stylesheet" href="dist/css/style.css">
</head>
<body>
    <div id="app">
        <section class="shop">
            <div class="goods">
                <div class="item" v-for="item in results">
                    <h2>{{ item.name }}</h2>
                    <p class="price">{{ item.price }}</p>
                    <p class="new" v-if="item.new">NEW!</p>
                    <img :src="item.image" :alt="item.name">
                </div>
            </div>
            <aside class="filters">
                <form action="" @submit.prevent="search()">
                    <label for="">Цена меньше чем:</label><br>
                    <input type="range" min="1" max="1000" step="1" v-model="rangePrice"><br>
                    <label for="">NEW:</label><br>
                    <input type="checkbox" v-model="isNew"><br>
                    <label for="">Название:</label><br>
                    <input type="text" v-model="nameProduct"><br>
                    <button>Искать!</button>
                </form>
            </aside>
        </section>
    </div>

<script src="dist/index.js"></script>
</body>
</html>